# Wyklucz cały folder "prywatne"
prywatne/

# Uwzględnij plik "info.txt" w folderze "prywatne"
!prywatne/info.txt

# Wyklucz wszystkie pliki z rozszerzeniem ".pdf"
*.pdf

# Wyklucz duże okładki albumów (przykładowo: "cover_large.jpg")
**/cover_large.*
